@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;500;600&display=swap");

$font-family: "Poppins", sans-serif;
$color-1: #1a1a1a;
$color-2: #171a20;
$color-3: #5c5e62;
$color-4: #3e6ae1;

html,
body {
  margin: 0;
  padding: 0;
  font-family: $font-family;
  color: $color-1;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
h2 {
  font-weight: 600;
  small {
    font-size: 0.9rem;
  }
}
h1 {
  font-weight: 600;
  font-size: 2.2rem;
}

.loading{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #f1f2f3;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  .in{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column
  }
}

.header {
  display: flex;
  min-height: 60px;
  justify-content: space-between;
  padding: 0 2rem;
}

.page {
  padding: 0 2rem;
  position: relative;
  height: calc(100vh - 60px);
  grid-template-columns: 4fr 1.5fr;

  .car-image {
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    &.white{
      background-image: url("../assests/model3-white.jpg");
    }
    &.gray{
      background-image: url("../assests/model3-gray.jpg");
    }
    &.blue{
      background-image: url("../assests/model3-blue.jpg");
    }
    &.black{
      background-image: url("../assests/model3-black.jpg");
    }
    &.red{
      background-image: url("../assests/model3-red.jpg");
    }

  }

  .options-car {
    padding: 0 2rem;
    gap: 1rem;
    flex-direction: column;

    .option-title {
      text-align: center;
      font-weight: 600;
    }

    .option-sub-title {
      text-align: center;
      font-size: 0.9rem;
      font-weight: 500;
      color: $color-2;
      padding: 0.5rem 3rem;
    }

    .option-features {
      padding: 2rem 0;
      justify-content: space-around;
      .box-feature {
        width: 100px;
      }
    }

    .option-paint {
      padding: 1rem 2rem;
      .colors {
        padding: 1rem 0;
        gap: 1rem;
        justify-content: center;
        span {
          width: 40px;
          cursor: pointer;
          height: 40px;
          border-radius: 100px;
          background-position: center;
          background-repeat: no-repeat;
          background-size: contain;
          border: solid 4px white;
          &.white {
            background-image: url("../assests/Paint_White.png");
          }
          &.gray {
            background-image: url("../assests/Paint_MidnightSilver.png");
          }
          &.blue {
            background-image: url("../assests/Paint_Blue.png");
          }
          &.black {
            background-image: url("../assests/Paint_Black.png");
          }
          &.red {
            background-image: url("../assests/Paint_Red.png");
          }
          &.active{
            outline: 3px solid $color-4
          }
        }
      }
    }

    .list-features {
      padding: 1rem 0;
      ul {
        margin: 0;
        li {
          text-align: left;
          padding: 0.45rem 0;
          font-size: 0.9rem;
        }
      }
    }
  }
}

.d-grid {
  display: grid;
}

.d-flex {
  display: flex;
}

.d-vetical-center {
  align-items: center;
  align-content: center;
}

.d-horizontal-center {
  justify-content: center;
}

.d-flex-wrap {
  flex-wrap: wrap;
}

.text-muted {
  color: $color-3;
}
.text-center {
  text-align: center;
}
